<div class="row">
            <form class="col-xs-12 col-sm-12 col-md-12 col-lg-12 well text-center" ng-submit="submit()">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Perform Your Search ... " name="text" ng-model="text">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="fa fa-search fa-lg"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row" ng-repeat="array in arrayOfPhone">

            <div ng-repeat="phone in array" class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{phone.name}}</h3>
                    </div>
                    <div class="panel-body">
                        <img ng-src="{{phone.imgUrl}}" class="img-responsive center-block">
                    </div>
                    <div class="panel-footer">
                        <a href="#/phones/{{phone.id}}" class="btn-custom ViewProduct">View Product</a>
                    </div>
                </div>
            </div>
        </div>